<div class="content">
    <div class="container">
        <div class="card"></div>
        <div class="card-header">
            <h3></h3>
        </div>
        <div class="card-body">
            <form >
                
                <div>
                    <label for="claveMoneda">CLAVE MONEDA</label>
                    <input type="text" class="form-control" name="claveMoneda" maxlength="3" [(ngModel)]="catMoneda.claveMoneda">
                </div>
                <div>
                    <label for="descripcion">DESCRIPCION</label>
                    <input type="text" class="form-control" name="descripcion" maxlength="30" [(ngModel)]="catMoneda.descripcion">
                </div>
                <div>
                    <label for="simbolo">SIMBOLO</label>
                    <input type="text" class="form-control" name="simbolo" maxlength="1" [(ngModel)]="catMoneda.simbolo">
                </div>

                <div>
                    <label for="abreviacion">ABREVIACION</label>
                    <input type="text" class="form-control" name="abreviacion" maxlength="2" [(ngModel)]="catMoneda.abreviacion">
                </div>
               
                <div>
                    <label for="monedaCorriente">MONEDA CORRIENTE</label>
                    <input type="text" class="form-control" name="monedaCorriente" maxlength="1"  [(ngModel)]="catMoneda.monedaCorriente">
                </div>

                <div>
                    <label for="estatus">ESTATUS</label>
                    <input type="text" class="form-control" name="estatus"  maxlength="1" [(ngModel)]="catMoneda.status">
                </div>
                

                <button  class="btn btn-success" (click)="guardar()">Guardar</button>

            </form>
        </div>
    </div>
</div>